@model IEnumerable<RecipeData.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped" style="background-color: lightbeige;">
        <thead class="thead-dark">
            <tr>
                <th style="width: 80%;">Name</th>
                <th style="width: 20%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <a class="text-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="text-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
